<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Super Sena</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Super Sena</a>
  </nav>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formulário de Apostas</h5>
            <form action="" method="POST" id="betForm">
              <div class="form-group">
                <label for="nomeInput">Nome:</label>
                <input type="text" class="form-control" name="name" id="nomeInput" placeholder="Digite seu nome" required>
              </div>
              <p style="color: red;">{{warning_name}}</p>
              <div class="form-group">
                <label for="cpfInput">CPF:</label>
                <input type="text" class="form-control" name="cpf" id="cpfInput" placeholder="XXX.XXX.XXX-XX" pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}" required>
              </div>
              <div class="form-group">
                <label for="betNumbers">Números da Aposta:</label>
                <div class="d-flex flex-row justify-content-between">
                  <input type="text" name="n1" class="form-control number-input" id="betNumber1" placeholder="Nº 1" min="1" max="50" required>
                  <input type="text" name="n2" class="form-control number-input" id="betNumber2" placeholder="Nº 2"  min="1" max="50" required>
                  <input type="text" name="n3" class="form-control number-input" id="betNumber3" placeholder="Nº 3"  min="1" max="50" required>
                  <input type="text" name="n4" class="form-control number-input" id="betNumber4" placeholder="Nº 4"  min="1" max="50" required>
                  <input type="text" name="n5" class="form-control number-input" id="betNumber5" placeholder="Nº 5"  min="1" max="50" required>
                </div>
                <p style="color: red;">{{warning_bets}}</p>
              </div>
              <div class="text-center mb-3">
                <button type="submit" name="sent" class="btn btn-primary">Enviar</button>
              </div>
            </form>
            <div class="d-flex justify-content-around">
              <form action="{{ url_for('results') }}" method="GET">
                <button type="submit" class="btn btn-info" name="draw">Sortear</button>
              </form>
              <form action="{{ url_for('surpresinha') }}" method="GET">
                <button type="submit" class="btn btn-warning" name="bet">Iniciar Apostas Surpresinha</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Apostas:</h3>
        <pre>{{text}}</pre>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>