<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Super Sena</title>
</head>
<body>
  <h1>Super Sena</h1>
  <div class="container ">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="p-3">
            <h5 class="card-title">Aposta Surpresinha</h5>
            <form action="" method="POST">
              <div class="form-group">
                <label for="nomeInput">Nome:</label>
                <input type="text" class="form-control" name="name" id="nomeInput" placeholder="Digite seu nome" required>
              </div>
              <div class="form-group">
                <label for="cpfInput">CPF:</label>
                <input type="text" class="form-control" name="cpf" id="cpfInput" placeholder="XXX.XXX.XXX-XX" required>
              </div>
              </div class="text-center">
              <button type="submit" name="sent" class="btn btn-primary">
                Gerar Números
              </button>
            </form>
            <!-- <a href="{{ url_for('results') }}">
              <button>Sortear</button>
            </a> -->
            <form action="{{ url_for('results') }}" method="GET">
              <button type="submit" name="draw">Sortear</button>
            </form>
            <!-- <a href="{{ url_for('list') }}">
              <button>Listar</button>
            </a>
            <form action="{{ url_for('list') }}" method="GET">
              <button type="submit" name="restart">Listar</button>
            </form> -->
            <!-- <a href="{{ url_for('bet') }}">
              <button>Aposta Normal</button>
            </a> -->
            <form action="{{ url_for('bet') }}" method="GET">
              <button type="submit" name="surpresinha">Aposta Normal</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <p>Apostas:</p>
    <pre>{{text}}</pre>
  </div>

  <!-- <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->
  <!-- VER SE REMOVO -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>